@import 'swiper/css';
@import 'swiper/css/thumbs';
@import 'swiper/css/free-mode';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-inactive-color: transparent;
}
.swiper-pagination-bullet {
  border: 1px solid #676974 !important;
}
.swiper-pagination-bullet-active {
  border: 0px !important;
}

/* any thing inside will be dark */
.blue-overlay {
  position: relative;
}

.blue-overlay::after {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  @apply bg-[#010412]/80;
}


.text-container {
  height: 200px;
}

@media (min-width: 768px) { /* Adjust the breakpoint as needed */
  .text-container {
    height: auto;
  }
}

@media (max-width: 1000px) {
  .mobile-flex {
    flex-direction: column;
  }
  .mobile-flex > div {
    width: 100% !important;
  }
}


.custom-checkbox {
  width: 18px;
  height: 18px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
  border: 2px solid rgb(174, 174, 174);
  border-radius: 4px;
  outline: none;
}

.custom-checkbox:checked {
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E") center/16px no-repeat;
}

