@import 'swiper/css';
@import 'swiper/css/thumbs';
@import 'swiper/css/free-mode';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-inactive-color: transparent;
}
.swiper-pagination-bullet {
  border: 1px solid #676974 !important;
}
.swiper-pagination-bullet-active {
  border: 0px !important;
}

/* any thing inside will be dark */
.blue-overlay {
  position: relative;
}

.blue-overlay::after {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  @apply bg-[#010412]/80;
}


.text-container {
  height: 200px;
}

@media (min-width: 768px) { /* Adjust the breakpoint as needed */
  .text-container {
    height: auto;
  }
}

@media (max-width: 1000px) {
  .mobile-flex {
    flex-direction: column;
  }
  .mobile-flex > div {
    width: 100% !important;
  }
}


.custom-checkbox {
  width: 14px;
  height: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
  border: 2px solid rgb(174, 174, 174);
  border-radius: 4px;
  outline: none;
}

.custom-checkbox:checked {
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E") center/16px no-repeat;
}

/* For Webkit browsers like Chrome/Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #8b8b8b;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-color: #c1c1c1 #f5f5f5;
}

@keyframes marquee {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(-120%);
  }
}


@keyframes expandContract {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Adjust this value to control the amount of expansion */
  }
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px); /* Adjust this value to control the amount of upward movement */
  }
}

@keyframes moveUpDown2 {
  0%, 100% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-8px); /* Adjust this value to control the amount of upward movement */
  }
}

@keyframes moveUpDown3 {
  0%, 100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px); /* Adjust this value to control the amount of upward movement */
  }
}

.hero-bg-animate {
  animation: expandContract 5s infinite; /* 5s is the duration, adjust as needed */
}

.hero-image-animate {
  animation: moveUpDown 4s infinite; /* 3s is the duration, adjust as needed */
}

.hero-ball-1 {
  animation: moveUpDown2 4s infinite; /* 3s is the duration, adjust as needed */
}

.hero-ball-2 {
  animation: moveUpDown3 4s infinite; /* 3s is the duration, adjust as needed */
}